.clear {
  clear: both;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.color-red {
  color: red
}

  .question-list {
    clear: both;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .question-summary {
      padding: 12px 0 10px 0;
      border-bottom: 1px solid #e4e6e8;
      display: block;
  }
  .question-summary {
      overflow: hidden;
      padding: 15px 0;
      float: left;
      width: 728px;
      border-bottom: 1px solid #eff0f1;
  }

  .narrow .cp {
      width: 180px;
  }
  .narrow .cp {
      vertical-align: top;
      float: left;
      margin-right: 10px;
      margin-top: 10px;
  }
  .cp {
      cursor: pointer;
  }

  .narrow .status {
      display: inline-block;
      margin: 0 3px 0 0;
      min-width: 44px;
      height: auto;
      font-size: 11px;
      padding: 6px;
  }
  .narrow .votes, .narrow .status, .narrow .views {
      padding: 8px 5px;
      line-height: 1;
  }
  .narrow .status {
      color: #848d95;
  }

  .views {
      padding-top: 4px;
      text-align: center;
  }
  .narrow .votes, .narrow .status, .narrow .views {
      padding: 8px 5px;
      line-height: 1;
  }
  .narrow .views {
      display: inline-block;
      height: 38px;
      min-width: 40px;
      margin: 0 7px 0 0;
      font-size: 11px;
      color: #848d95;
      padding: 5px 5px 6px 5px;
  }
  .narrow .views {
      max-width: 40px;
  }

  .summary {
      float: left;
      width: 630px;
  }
  .narrow .summary {
      width: 430px;
      padding: 0;
      float: left;
  }

  .summary h3 {
      font-size: 15px;
      line-height: 1.4;
      margin-bottom: .5em;
  }
  .narrow .summary h3 {
      margin-bottom: .35em;
      line-height: 1.3;
  }

  .tags {
      line-height: 18px;
      float: left;
  }

  .post-tag, .moderator-tag, .required-tag, .disliked-tag, .favorite-tag, .company-tag, .geo-tag, .geo-tag, .container .chosen-choices .search-choice, .container .chosen-container-multi .chosen-choices li.search-choice {
      position: relative;
      display: inline-block;
      padding: .4em .5em;
      margin: 2px 2px 2px 0;
      font-size: 11px;
      line-height: 1;
      white-space: nowrap;
      text-decoration: none;
      text-align: center;
      border-width: 1px;
      border-style: solid;
      border-radius: 0;
      transition: all .15s ease-in-out;
  }

  .post-tag, .geo-tag, .container .chosen-choices .search-choice, .container .chosen-container-multi .chosen-choices li.search-choice {
      font-size: 12px;
  }
  .post-tag, .geo-tag, .container .chosen-choices .search-choice, .container .chosen-container-multi .chosen-choices li.search-choice {
      color: #39739d;
      background-color: #E1ECF4;
      border-color: transparent;
  }
  .started {
      width: 200px;
      float: right;
      line-height: 18px;
      font-family: 'Arial';
  }
  .narrow .started {
      width: auto;
      line-height: inherit;
      padding-top: 4px;
      white-space: nowrap;
      font-size: 12px;
  }

  .narrow .started a.name {
    font-weight: bold;
  }

  .started-link {
      font-size: 12px;
      color: #9199a1;
  }

  .started .user-info, .started .reputation-score {
      color: #848d95;
  }
  .reputation-score {
      font-weight: bold;
      font-size: 12px;
      margin-right: 2px;
  }

  .relativetime {
      text-decoration: none;
  }
  .question-hyperlink:visited, .answer-hyperlink:visited, #hot-network-questions ul a:visited {
      color: #005999;
  }
  .question-hyperlink, .answer-hyperlink {
      color: #07C;
      line-height: 1.3;
      margin-bottom: 1.2em;
  }

  .question-hyperlink {
      font-size: 16px;
      font-weight: 400;
  }

  .votes {
      padding: 0;
      margin-bottom: 8px;
      text-align: center;
      font-family: 'Arial';
  }
  .narrow .votes {
      display: inline-block;
      height: 38px;
      min-width: 38px;
      margin: 0 3px 0 0;
      font-size: 11px;
      color: #848d95;
      padding: 5px 5px 6px 5px;
  }
  .narrow .votes, .narrow .status, .narrow .views {
      padding: 8px 5px;
      line-height: 1;
  }
  .narrow .mini-counts {
      font-size: 22px;
      font-weight: 300;
      color: #6a737c;
      margin-bottom: 4px;
      text-align: center;
  }
  .narrow .mini-counts {
      margin-bottom: 2px;
  }
